/* Hide scrollbar */
::-webkit-scrollbar {
    display: none;
}
/* quick vert padding */
.vertpad {
    padding-top: 25px;
}
/* wrapper div for center */
.center{
    text-align: center;
    vertical-align: center;
    position: relative;
}
/* Header specs */
.header {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Work Sans", sans-serif;
    font-weight: 200;
    font-size : 8vw;
    margin: 0 auto;
}
/* Link specs */
.links {
    color: rgb(255, 255, 255);
    font-family: "Work Sans", sans-serif;
    font-weight: 100;
    font-size : 20px;
    text-align : center;
    margin: 0 auto;
}
.tree {
    width: 70vw;

    display: inline-flex;
    /* background-image:url('./gifs/isles.gif');
    background-repeat:repeat; */
}
.audiolinks {
    text-align: center;
}
.audiolinks audio{
    display: block;
    margin: 0 auto;
}
.journalimg img {
    display: block;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
}
.header img{
    position:absolute;
    height: 10vw;
}
img.emailgif{
    position: absolute; 
    width: 10vw;
    top:50%; 
    transform: translateY(-50%);
}
img.gif {
    position:fixed;
    display: block;
}
img.sticky{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 0;
}
.homeArt iframe{
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 30vh;
    /* position: sticky;
    display: block;
    margin: 0 auto;
    bottom: 10vh;
    height: 30vh;
    width: 100vw;*/
    filter: hue-rotate(0deg);
    animation: hueshift 10s infinite; 
}
.circle iframe {
    /* position: absolute;
    top: 0; */
    filter: hue-rotate(0deg);
    animation: hueshift 10s infinite;
}
.audiolinks iframe{
    display: inline-block;
    width: 40%;
    height: 175px;
    /* display: block;
    margin: 0 auto; */
}
.vimeo iframe {
    display: block;
    margin: 0 auto;
}
.carousel-item iframe {
    display: block;
    margin: 0 auto;
    width: 70vw;
    height:60vh;
    border:0;
} 
iframe.sticky{
    position: -webkit-sticky;
    position:fixed;
    bottom:0;
    width: 100vw;
    height: 40vh;
}
@keyframes hueshift {
    50% {filter: hue-rotate(180deg);}
}
mark {
    background-color:rgba(143, 143, 143, 0.783);
}
/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}
/* mouse over link */
a:hover {
    background-color: rgb(0, 0, 0);
    text-decoration: none;
}
.hover img:hover{
    display:block;
}
.carousel a:hover {
    background-color: rgb(0,0, 0, 0);
    text-decoration: none;
}
.gallery {
    display: block;
    margin: auto;
}
/* selected link */
a:active {
    color: blue;
    text-decoration: none;
}
a:focus,
button:focus,
input:focus,
textarea:focus {
    outline: none;
}
button:active {
    outline:none;
}
.carousel-inner {
    margin: 0 auto;
    height:72vh;
}
/* @keyframes fadein {
    0% {background-color: black;
        opacity: 0;}
    100% {background-color: #F5E3CF;
        opacity: 1;}
} */

@media only screen and (max-width: 700px) {
    .emailgif {
        display: none;
    }
}

.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; 
}
.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; 
}
.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); 
}

@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}